[submodule "glm"]
	path = cmake/glm
	url = https://github.com/g-truc/glm.git
[submodule "imgui"]
	path = cmake/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "sdl"]
	path = cmake/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "assimp"]
	path = cmake/assimp
	url = https://github.com/assimp/assimp.git