[submodule "glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "sdl"]
	path = dependencies/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "dependencies/imgui-filebrowser"]
	path = dependencies/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
